.section {
  width: 48%;
  display: inline-block;
  margin: 0 1%;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.c {
  text-align: center;
}

.d {
  height: 100%;
}

.c h3 {
  text-align: left;
  margin-left: 15%;
}

.c h4 {
  text-align: left;
  margin-left: 15%;
}

.c img {
  width: 45%;
  height: max-content;
  margin: -35px 0;
}

.c .temperature {
  margin-top: 5px;
}

.c .details {
  height: max-content;
  width: 80%;
  margin: auto;
  margin-top: 35px;
}

.c .details div {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.c .details div div {
  display: block;
  height: max-content;
  width: 100%;
}

.c .details div p {
  display: inline-block;
  width: max-content;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  height: 35px;
}

.c .details div span {
  height: max-content;
}

.d .stats div {
  width: 85%;
  margin: auto;
  margin-top: 20px;
}

.d .stats span {
  display: block;
  width: 100%;
  padding: 7px 0;
}

.d .stats span span {
  width: max-content;
  display: inline;
  float: right;
  width: 100px;
}

.table-container {
  width: 90%;
  margin: auto;
  vertical-align: top;
}

.table-container img {
  width: 35px;
  height: 35px;
  margin-right: 10px; /* Add spacing between image and text */
}

.table-container th {
  color: black;
  background-color: white;
  text-align: center;
  padding: 10px;
}

.table-container td {
  color: black;
  background-color: white;
  padding: 10px;
}

.table-container td div {
  display: flex;
  align-items: center; /* Aligns content vertically */
  justify-content: space-around; /* Distribute space between elements */
}

.table-container td span {
  display: inline-block;
  height: max-content;
  text-align: center;
  vertical-align: middle; /* Ensures text is aligned vertically */
  color: black;
  font-size: 14px;
}

table {
  margin: 0 5% 0 15%;
  width: 80%;
  border-collapse: collapse;
}

th,
td {
  padding: 0px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: max-content;
  width: 80px;
}

.vid-container {
  margin: 50px 5% 0 18%;
  width: 72%;
  height: 258px;
}

/* Media query for responsiveness */
@media screen and (max-width: 861px) {
  .section {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
  }

  .c h4 {
    margin-bottom: 30px;
  }

  .d .stats span {
    padding: 5px 0;
  }

  .table-container {
    width: 90%;
    margin: auto;
    display: block;
    padding: 70px 0;
  }
  table {
    font-size: 13px;
    margin: auto;
    width: 100%;
  }

  .table-container td div {
    display: block;
    align-items: left; /* Aligns content vertically */
    justify-content: space-around; /* Distribute space between elements */
  }

  th,
  td {
    padding: 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: max-content;
    width: 70px;
  }

  .vid-container {
    width: 90%;
    margin: auto;
    height: 180px;
    margin-top: -30px;
    margin-bottom: 15px;
  }
}
