.w-container {
  width: 100%;
  display: block;
}

.w-card {
  width: 70% !important;
  background-color: rgb(113, 162, 180);
  height: max-content;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 0;
}

.w-card .w-logo {
  width: 60%;
  margin-top: -20px;
}

.w-card .day-of-week {
  margin-top: 20px;
}

.w-card span {
  display: block;
  margin-top: 10px;
}

.w-news-card {
  background-color: white;
  width: 80%;
  margin: auto;
}

.w-news-card * {
  color: black;
}

.w-news-card h3 {
  text-align: center;
  padding: 9px 0px;
}

.w-news-card .w-container {
  padding: 10px;
  position: relative;
}

.w-news-card .w-info {
  display: block;
  width: 70%;
  text-align: left;
}

.w-news-card .w-img {
  width: 25%;
  display: inline-block;
  height: 55px;
  position: absolute;
  top: 13px;
  right: 20px;
  padding-right: 10px;
}

.time-ago {
  font-size: 12px;
  color: rgb(87, 87, 87);
}

.truncate-text {
  width: 90%;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5em;
  max-height: 3em;
}

@media screen and (max-width: 661px) {
  .w-card .w-logo {
    width: 85%;
  }
  .w-card {
    width: 90% !important;
  }

  .w-card .day-of-week {
    font-size: 15px;
  }
  .w-news-card {
    background-color: white;
    width: 90%;
    display: block;
    margin: auto;
  }
}
