.nav-container {
  height: max-content;
  display: block;
}

.nav {
  height: max-content;
  vertical-align: middle;
  padding: 24px 0;
}

.name {
  float: left;
  height: max-content;
  width: 33%;
}

.name .name-text {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: aliceblue;
}

.search-bar {
  display: inline-block;
  height: max-content;
  width: 34%;
}

.search-bar-2 {
  display: none;
}

.search-bar * {
  color: black;
}
.search-bar-2 * {
  color: black;
}

.log-in {
  float: right;
  height: max-content;
  width: 33%;
  text-align: right;
}
.messageField {
  padding: 8px;
  width: 400px;
  border-radius: 8px;
}
.suggestion-item--active {
  width: 400px;
}

@media screen and (max-width: 861px) {
  .nav {
    height: max-content;
  }
  .search-bar-2 {
    display: inline-block;
    height: max-content;
    width: max-content;
    padding-top: 25px;
    background-color: aqua;
    margin: auto;
  }

  .name {
    width: 50%;
  }

  .name .name-text {
    font-size: 22px;
  }

  .search-bar {
    display: none;
  }
  .log-in {
    width: 33%;
  }
}
