body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  width: 95%;
  margin: auto;
  max-width: 970px;
}

@media screen and (max-width: 861px) {
  .container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
  }
}
